// Large devices, wide Screns
@media only screen and (max-width: 1200px) {
    .container {
        max-width: 820px;
    }
}

// medium devices, desktops
@media only screen and (max-width: 992px) {
    #navbar .container {
        flex-direction: column;
        align-items: center;

        .logo {
            .second-logo {
                text-align: center;
            }
        }

        .nav-links {
            margin-bottom: 10px;
        }
    }

    #jumbotron {
        .opener-text {
            text-align: center;

            p {
                width: unset !important;
            }
        }
    }

    #about .container {
        margin-top: -200px !important;
        .info-panel {
            flex-direction: column;

            .about-me {
                margin: 0 10px !important;

                p {
                    margin-top: 20px !important;
                }

                img {
                    display: none !important;
                }
            }

            .skills {
                margin: 20px 10px 0 !important;

                img {
                    display: none !important;
                }

                h2 {
                    margin-bottom: 20px !important;
                }
            }
        }
    }

    #projects .container {
        .navbar-project {
            width: 500px !important;
            height: 70px !important;
        }

        #tab-1 {
            img {
                width: 30px !important;
                margin: 7px auto 0 !important;
            }

            h4 {
                font-size: 12px;
            }
        }

        #tab-2 {
            img {
                width: 38px !important;
                margin: 4px auto 0 !important;
            }

            h4 {
                font-size: 12px;
            }
        }

        #tab-3 {
            img {
                width: 45px !important;
                margin: 3px auto 0 !important;
            }

            h4 {
                font-size: 12px;
            }
        }

        .project-item {
            width: 97.5% !important;
            margin: 0 auto;
        }
    }
}

// small devices, Tablets
@media only screen and (max-width: 768px) {
    #navbar .container {
        .auth {
            ul {
                li {
                    padding: 4px !important;
                    font-size: 14px !important;
                }
            }
        }
    }

    #jumbotron {
        background-size: 300px !important;
        background-position: top 100px center !important;

        .opener-text {
            h1 {
                font-size: 34px !important;
            }

            p {
                font-size: 14px !important;
            }

            a {
                padding: 4px !important;
                font-size: 14px !important;
            }
        }
    }

    #about .container {
        margin-top: -230px !important;
    }

    #projects .container {

        .navbar-project {
            width: 350px !important;
        }
        
        .project-item {
            height: 700px !important;
        }
    }

    #contact .container {
        .contact-wrapper {
            width: 500px !important;
        }
    }

    #footer .container {
        .wrap-footer {
            flex-direction: column;
            justify-content: center !important;
            align-items: center;
            text-align: center;

            .navigation {
                margin-top: 20px !important;

                h4 {
                    margin-bottom: 10px !important;
                }
            }

            .tools {
                margin-top: 15px !important;
                h4 {
                    margin-bottom: 10px !important;
                }
            }

            .contact {
                margin-top: 15px !important;
                h4 {
                    margin-bottom: 10px !important;
                }

                ul {
                    text-align: start !important;
                }
            }
        }
    }
}

// extra small devices, Phones
@media only screen and (max-width: 480px) {
    #jumbotron {
        .opener-text {
            h1 {
                font-size: 24px !important;
            }
        }
    }

    #projects .container {

        .project-item {
            height: 1250px !important;
        }
    }

    #contact .container {
        .contact-wrapper {
            width: 330px !important;
        }
    }
}

// custom, Retina
@media only screen and (max-width: 320px) {
    #navbar .container {
        .nav-links {
            li {
                margin: 0 5px !important;
            }
        }
    }

    #contact .container {
        .contact-wrapper {
            width: 250px !important;
        }
    }
}